.center {
  min-width: 0;
}

.block {
  display: flex;
  width: 100%;
}

.inline {
  display: inline-flex;
  width: auto;
}

.axisBoth {
  justify-content: center;
  align-items: center;
}

.axisHorizontal {
  justify-content: center;
}

.axisVertical {
  align-items: center;
}
