.input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: var(--lufa-component-input-padding-md);
  font-family: inherit;
  font-size: var(--lufa-component-input-font-size-md);
  line-height: var(--lufa-core-typography-body-line-height);
  color: var(--lufa-component-input-text-default);
  background-color: var(--lufa-component-input-background-default);
  border: var(--lufa-component-input-border-width) solid var(--lufa-component-input-border-default);
  border-radius: var(--lufa-component-input-border-radius);
  transition:
    border-color var(--lufa-semantic-ui-transition-duration-fast),
    box-shadow var(--lufa-semantic-ui-transition-duration-fast);
  outline: none;
}

.input::placeholder {
  color: var(--lufa-component-input-text-placeholder);
}

.input:focus {
  border-color: var(--lufa-component-input-border-focus);
  box-shadow: 0 0 0 var(--lufa-component-shared-focus-outline-width) var(--lufa-component-shared-focus-outline-color);
}

.input.error {
  border-color: var(--lufa-component-input-border-error);
}

.input.error:focus {
  box-shadow: 0 0 0 var(--lufa-component-shared-focus-outline-width) var(--lufa-semantic-ui-background-error);
}

.input.disabled {
  background-color: var(--lufa-component-input-background-disabled);
  color: var(--lufa-component-input-text-disabled);
  border-color: var(--lufa-component-input-border-disabled);
  cursor: not-allowed;
}

.input.fullWidth {
  width: 100%;
  display: block;
}
