.label {
  display: block;
  font-family: inherit;
  font-size: var(--lufa-component-input-label-font-size);
  font-weight: var(--lufa-primitive-typography-font-weight-medium);
  color: var(--lufa-component-input-label-color);
  margin-bottom: var(--lufa-component-input-label-spacing);
  line-height: var(--lufa-primitive-typography-line-height-tight);
}
