/* Import the design system styles which include Tailwind CSS */
@import '@grasdouble/lufa_design-system-tokens/tokens.css';
@import '@grasdouble/lufa_design-system/style.css';

#storybook-root {
    height: 100%;
    width: 100%;
}
