.grid {
  width: 100%;
  display: grid;
}

/* Columns */
.columns-single {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-single), minmax(0, 1fr));
}
.columns-double {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-double), minmax(0, 1fr));
}
.columns-triple {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-triple), minmax(0, 1fr));
}
.columns-quad {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-quad), minmax(0, 1fr));
}
.columns-six {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-six), minmax(0, 1fr));
}
.columns-eight {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-eight), minmax(0, 1fr));
}
.columns-twelve {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-twelve), minmax(0, 1fr));
}
.columns-sixteen {
  grid-template-columns: repeat(var(--lufa-token-grid-columns-sixteen), minmax(0, 1fr));
}

/* Gutters */
.gutter-none {
  gap: var(--lufa-token-grid-gutter-none);
}
.gutter-xs {
  gap: var(--lufa-token-grid-gutter-xs);
}
.gutter-sm {
  gap: var(--lufa-token-grid-gutter-sm);
}
.gutter-md {
  gap: var(--lufa-token-grid-gutter-md);
}
.gutter-lg {
  gap: var(--lufa-token-grid-gutter-lg);
}
.gutter-xl {
  gap: var(--lufa-token-grid-gutter-xl);
}
