@layer components {
  /* Gap */
  .gap-none {
    gap: var(--lufa-token-spacing-none);
  }
  .gap-condensed {
    gap: var(--lufa-token-spacing-sm);
  }
  .gap-normal {
    gap: var(--lufa-token-spacing-base);
  }
  .gap-spacious {
    gap: var(--lufa-token-spacing-lg);
  }

  /* Direction */
  .direction-horizontal {
    display: flex;
    flex-direction: row;
  }
  .direction-vertical {
    display: flex;
    flex-direction: column;
  }

  /* Align */
  .align-stretch {
    align-items: stretch;
  }
  .align-start {
    align-items: flex-start;
  }
  .align-center {
    align-items: center;
  }
  .align-end {
    align-items: flex-end;
  }
  .align-baseline {
    align-items: baseline;
  }

  /* Wrap */
  .wrap-wrap {
    flex-wrap: wrap;
  }
  .wrap-nowrap {
    flex-wrap: nowrap;
  }

  /* Justify */
  .justify-start {
    justify-content: flex-start;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-space-between {
    justify-content: space-between;
  }
  .justify-space-evenly {
    justify-content: space-evenly;
  }

  /* Padding */
  .padding-none {
    padding: var(--lufa-token-spacing-none);
  }
  .padding-condensed {
    padding: var(--lufa-token-spacing-sm);
  }
  .padding-normal {
    padding: var(--lufa-token-spacing-base);
  }
  .padding-spacious {
    padding: var(--lufa-token-spacing-lg);
  }

  /* StackItem - Grow */
  .grow {
    flex-grow: 1;
  }
}
